<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for遍历对象</title>
    <script src="../../js/vue.js"></script>
</head>
<body>
<div id="app">
    <ul>
        <!--没有key-->
        <li v-for="value in info">{{value}}</li>
        <!--有key有下标-->
        <li v-for="(value,key,index) in info">{{index}}-{{key}}-{{value}}</li>
    </ul>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data:{
            message: '你好哟！',
            info:{
                name: '阿珍',
                age: 18,
                height: 188,
            }
        },
        methods:{

        }
    })
</script>
</body>
</html>
